<h1>Stupid Coaching</h1>

<form action="/answer" method="get">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>



<p><%= @answer%></p>

 <%= link_to "Back to ask Section", ask_path %>

