// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Arial;
}

a {
  color: blue;
  font-family: Arial;
  text-decoration: none;
  font-size: 14px;
}

p {
  font-family: Arial;
}

